body {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Karla';
}

.container {
    background-color: #1F2937;   
    max-width: 80%;
    padding: 115px 52px;
}

h1 {
    font-size: 40px;
    letter-spacing: -0.025em;
    line-height: 40px;
}

span {
    color: #4ADF86;
}

h2 {
    font-size: 20px;
    color: #D5D4D8;
    line-height: 28px;
    font-family: 'Inter';
    font-weight: 400;
    margin-top: 10px;
}

button {
    border: none;
    background: #10B981;
    color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px; 
    padding: 9px 17px 9px 15px;
    gap: 12px;
    margin: 51px auto 35px;
}

.password {
    background: #273549;
    border-radius: 6px;
}